# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
leviathan/.vs
leviathan/bin/IntermediateFiles
*.ilk
*.pdb
leviathan/bin/leviathan/.vs
leviathan/leviathan/leviathan.vcxproj.user
*.user
leviathan/leviathan/leviathan.vcxproj.user
leviathan/bin/leviathan/logs
leviathan/leviathan/.vs
